#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.book_card{
    display:flex;
    flex-direction: column;
    
    align-items: center;
    border: 1px solid black;
    background-color: rgb(244,244,244);
    width: 250px;
    height: 300px;
}

.book_title{
    padding-top: 10px;
    padding-bottom: 15px;
    background-color:rgba(150, 0, 50, 1.0)
}

.book_author{
    padding-top: 10px;
    padding-bottom: 10px;
}

.book_read