body {
    font-family: Roboto, Arial;
}

#nav_bar{
    position: absolute;
    top: 0;
    left: 0;
    background-color: grey;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#container{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 100px;
}

.book_card{
    display:flex;
    flex-direction: column;
    
    align-items: center;
    border: 1px solid black;
    border-radius: 5%;
    background-color: rgb(67, 67, 67);
    width: 250px;
    height: 300px;
    color: white;
    font-size: 25px;
}

.book_card_top_row{

    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    padding-top: 5px;
    width: 100%;
    font-size: 20px;
}

.top_left{
    color: white;
    transition: .25s;
    padding-left: 10px;
}

.top_left:hover, :focus {
    color: red;
    cursor: pointer;
}    

.top_right{
    transition: .25s;
    padding-right: 10px;
}

.top_right:hover, :focus{
    color: gold;
    cursor: pointer;
}

.book_title{
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.book_author{
    padding-top: 10px;
    padding-bottom: 15px;
}

.book_read_img:hover, :focus {
    cursor: pointer;
    scale: 1.75;    
}

.book_read_false{
    margin-top: 60px;
    padding-top: 15px;
    transition: .1s;
    scale: 1.5;
}

.book_read_true {
    margin-top: 60px;
    padding-top: 15px;
    transition: .1s;
    scale: 1.5;
    color: green;
}


.book_read:hover, :focus{
    cursor: pointer;
}

#add_book_div{
    justify-content: center;
    transition-duration: .1s;
}

.hovering {
    background-color: rgb(180, 180, 180);
    color: black;
    scale: 1.05;
}

/*Div that encapsulates buttons*/
#form_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#form_buttons button{
    width: 100px;
}

/*The modal background*/
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal_content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }

  .close{
      color:grey;
      float: right;
           
  }

  .close:hover, .close:focus{
      color:black;
      cursor: pointer;
  }

.close_edit{
    color:grey;
    float: right;
         
}

.close_edit:hover, .close_edit:focus{
    color:black;
    cursor: pointer;
}